.btn-primary {
  margin-top: 40px;
  width: 100%;
  padding-block: 1rem;
  background: var(--background-tertiary);
  border: none;
  border-radius: 0.5rem;
  text-transform: uppercase;
  color: white;
  font: var(--ls);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  cursor: pointer;
  &::before {
    content: "-----";
    position: absolute;
    width: 100.5%;
    height: 104%;
    border-radius: 0.5rem;
    z-index: -1;
    cursor: pointer;
  }
}

.btn-primary:hover::before {
  animation: border-color 1s ease-in-out infinite;
}

@keyframes border-color {
  0% {
    background: linear-gradient(
      90deg,
      rgba(119, 192, 175, 1) 0%,
      rgba(209, 220, 151, 1) 15%,
      rgba(233, 169, 179, 1) 32%,
      rgba(213, 134, 224, 1) 67%,
      rgba(145, 161, 250, 0.93) 86%
    );
  }
  33% {
    background: linear-gradient(
      180deg,
      rgba(119, 192, 175, 1) 0%,
      rgba(209, 220, 151, 1) 15%,
      rgba(233, 169, 179, 1) 32%,
      rgba(213, 134, 224, 1) 67%,
      rgba(145, 161, 250, 0.93) 86%
    );
  }
  66% {
    background: linear-gradient(
      270deg,
      rgba(119, 192, 175, 1) 0%,
      rgba(209, 220, 151, 1) 15%,
      rgba(233, 169, 179, 1) 32%,
      rgba(213, 134, 224, 1) 67%,
      rgba(145, 161, 250, 0.93) 86%
    );
  }
  100% {
    background: linear-gradient(
      360deg,
      rgba(119, 192, 175, 1) 0%,
      rgba(209, 220, 151, 1) 15%,
      rgba(233, 169, 179, 1) 32%,
      rgba(213, 134, 224, 1) 67%,
      rgba(145, 161, 250, 0.93) 86%
    );
  }
}
